<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.dreamcatch"
        versionCode = "1" 
        version     = "1.0.0" >
 
        
<preference name="permissions" value="none" />
        <preference name="fullscreen" value="true" />
        <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
          <gap:plugin name="org.apache.cordova.splashscreen" />
    <!-- versionCode is Android only -->
    <!-- version is in major.minor.patch format --> 
    <name>DreamCatch</name>
 
    <description>
        It's a dream come true!
    </description>
 
    <author href="http://www.bistrachilikova.byethost32.com" email="bistra.chilikova@abv.bg">
        Bistra Chilikova
    </author>


     <icon src="icon.png" />       
    <splash src="splash.png" />

 
</widget>
